<div class="container">
  <h1>Template-Driven Form</h1>
  <form #dataForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name"
       required
       [(ngModel)]="testData.name" name="name" #name="ngModel"
       minlength="4" appForbiddenName="bob">
    </div>
    <div *ngIf="name.invalid && (name.dirty || name.touched)"
                class="alert alert-danger">
  
            <div *ngIf="name.errors.required">
              Name is required.
            </div>
            <div *ngIf="name.errors.minlength">
              Name must be at least 4 characters long.
            </div>
            <div *ngIf="name.errors.forbiddenName">
              Name cannot be Bob.
            </div>
          </div>

    <div class="form-group">
      <label for="alterEgo">Alter Ego</label>
      <input type="text" class="form-control" id="alterEgo"
         [(ngModel)]="testData.alterEgo" name="alterEgo">
    </div>

    <div class="form-group">
      <label for="power">Hero Power</label>
      <select class="form-control" id="power" required
      [(ngModel)]="testData.power" name="power">
        <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!dataForm.form.valid">Submit</button>
    <button type="button" class="btn btn-default" (click)="newHero(); dataForm.reset()">New Hero</button>

  </form>
</div>