<form class="example-form" (ngSubmit)="onSubmit()" #dataForm="ngForm">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="請輸入姓名"
    [(ngModel)]="model.name" name="name"
    #name="ngModel" required appForbiddenName="bob">
    
    <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
      <div *ngIf="name.errors.required">
        姓名為 <strong>必填</strong>
      </div>
      <div *ngIf="name.errors.forbiddenName">
        姓名不可包含 <strong>bob</strong>
      </div>
    </mat-error>
  </mat-form-field>
  <mat-radio-group class="example-form" [(ngModel)]="model.gender" name="gender">
    <mat-radio-button value="man">男</mat-radio-button>
    <mat-radio-button value="female">女</mat-radio-button>
  </mat-radio-group>
  <mat-form-field class="example-form">
    <input matInput [matDatepicker]="picker" placeholder="請選擇生日" [(ngModel)]="model.birthday" name="birthday">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="請輸入電話" [(ngModel)]="model.homePhone" name="homePhone">
  </mat-form-field>
  <div>
    <h4>身體項目</h4>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="請輸入體重" [(ngModel)]="model.physicalConditions.weight" name="weight">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="請輸入身高" [(ngModel)]="model.physicalConditions.height" name="height ">
    </mat-form-field>
  </div>
  <button mat-raised-button (click)="clearData()">取消</button>
  <button mat-raised-button color="primary" type="submit">儲存</button>
  <button mat-raised-button color="accent" type="button" (click)="getValue(dataForm)">log</button>
</form>
<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
  <mat-button-toggle value="clear" (click)="clearData()">清空</mat-button-toggle>
  <mat-button-toggle value="1" (click)="getData(1)">user1</mat-button-toggle>
  <mat-button-toggle value="2" (click)="getData(2)">user2</mat-button-toggle>
</mat-button-toggle-group>
