/* Master Styles */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./scss/_select.scss";
@import "./scss/_form.scss";
/* @import "./app/_variables.scss"; */
/* @import "./scss/_icon.scss";
@import "./scss/_images.scss";
@import "./scss/_type.scss";
@import "./scss/_multi-step.scss";
@import "./scss/_file-upload.scss";
@import "./scss/_button.scss";
@import "./scss/_table.scss";
@import "./scss/_navbar.scss";
@import "./scss/_sidebar.scss";
@import "./scss/_pagination.scss";
@import "./scss/_accordion.scss";
@import "./scss/_tabs.scss";
@import "./scss/_permission.scss"; */

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}


/*
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/