.stt-file-upload {
  .stt-file-upload__content {
    width: 7.5rem;
    height: 7.5rem;
    margin: 0.5rem 0.5rem 0 0;
    display: inline-block;
    position: relative;
    background-color: $stt-file-upload-bg;
    color: $stt-file-upload-color;
    overflow: hidden;
    .icon-plus {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
      &:before {
        margin: auto;
        width: 2rem;
        height: 2.5rem;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 2rem;
        font-weight: bold;
      }
    }
    .icon-error {
      position: absolute;
      top: 0.25rem;
      right: 0.25rem;
      font-size: 1.2rem;
      cursor: pointer;
    }
    .stt-file-upload__thumbnail {
      width: 100%;
      height: 100%;
      display : inline-block;
      border: 2px dashed $stt-file-upload-border;
      background-color: $stt-file-upload-bg-active;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  .stt-file-upload__input {
    visibility: hidden;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0;
    left: 0;
  }
}
