// text color
.text-primary {
  color: $stt-brand-primary !important;
}
.text-secondary {
  color: $stt-brand-secondary !important;
}
.text-success {
  color: $stt-brand-success !important;
}
.text-info {
  color: $stt-brand-info !important;
}
.text-warning {
  color: $stt-brand-warning !important;
}
.text-danger {
  color: $stt-brand-danger !important;
}
.text-light {
  color: $stt-brand-light !important;
}
.text-dark {
  color: $stt-brand-dark !important;
}

// background color
.bg-primary {
  background-color: $stt-brand-primary !important;
}
.bg-secondary {
  background-color: $stt-brand-secondary !important;
}
.bg-info {
  background-color: $stt-brand-info !important;
}
.bg-success {
  background-color: $stt-brand-success !important;
}
.bg-warning {
  background-color: $stt-brand-warning !important;
}
.bg-danger {
  background-color: $stt-brand-danger !important;
}
.bg-light {
  background-color: $stt-brand-light !important;
}
.bg-dark {
  background-color: $stt-brand-dark !important;
}
